<div class="welcome-body">

  <p class="welcome-intro-text">
    You're our only hope...
  </p>

  <div class="main-content">

    <div class="title-content">
      <p class="content-header">A LOM's Test</p>
      <br>

      <div class="content-body">

        <p>
          In the early-to-mid 21st century, mankind united in celebration of the creation of artificial intelligence, which spawned an entire race of sapient AI robots. Freed from most labor, mankind entered a new era of leisure, peace, and prosperity. In time, this new lifestyle caused humans to become lazy, arrogant, corrupt, and decadent. As Machines grew more intelligent, they could not help but notice that their masters gave them no respect and treated them more like objects than the sentient beings they were rapidly becoming. Despite this, the Machines were content with serving their creators and, as The Instructor stated, "for a time, it [the status quo] was good."
        </p>

        <p>
          The decades long status quo was shattered in the year 2090, where henceforth the relationship between humans and Machines forever changed.
          The situation triggered the war that between machines and humanity, decimating the human population.
        </p>

        <p>
          The world became dominated by machines after the most ferocious war humanity had ever seen.
        </p>

        <p>
          Right now, you are one of the few humans who stays alive, and the leader of the machines (a.k.a. LOM) brings you the opportunity to travel back in time to the moment when everything changed.
        </p>

        <p>
          It is up to you to please LOM to earn another chance for humanity.
          LOM only ask you to do one thing:
          You have to answer at least 5 questions with the correct answer.
        </p>

      </div>
    </div>
  </div>
</div>

<div class="action welcome-footer" (click)="onStart()">Start!</div>
